<div  class="container-fluid">
    <nav style="padding-top: 4.2vw;" id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top"> 
        
    </nav>

    <!--icon start-->
    <div id="icon-container" class="row">
        <div id="icon-wrapper"  class="card">
            <div class="col-md-2"> <div class="icon" data-background-color="orange">1</div>
            </div>
            <div class="col-md-2">  <div class="icon" data-background-color="green">2</div>
            </div> 
            <div class="col-md-2">  <div class="icon" data-background-color="red"> 3</div>
            </div>
            <div class="col-md-2">  <div class="icon" data-background-color="blue"> 4</div>
            </div>
            <div class="col-md-2">  <div class="icon" data-background-color="yellow"> 5</div>
            </div>
            <div class="col-md-2">  <div class="icon" data-background-color="purple"> 6</div>
            </div> 
        </div>
    </div>
    <!--icon end-->

    <!-- Content start -->
    <div id="content-wrapper"> 
       <app-dashboard></app-dashboard> 
        <app-power></app-power> 
    </div>


  

        
    <!--Content end -->

</div>



