<div class="row"> 
  <div class="col-md-4"> 
    <div class="content-comp1-card"> 
      <div class="content-comp1-card-holder">
          <div class="comp1-card-header"> <span class="comp1-card-header-text"> Power Usage Now </span> </div>
          <div class="comp1-card-graph-container"> 
            <div class="comp1-card-graph-container-inner left">1</div>
            <div class="comp1-card-graph-container-inner right">
              <div class="main-value">303 W </div>
              <div class="second-value">27:10:00</div>
            </div> 
          </div>
          <div class="comp1-card-bottom1">  
            <div class="comp1-card-bottom1-inner left"> 
                <div class="top"> 8.4 KWH </div> 
                <div class="bottom"> So Far Today </div> 
            </div>
            <div class="comp1-card-bottom1-inner right">
              <div class="top"> 16.7 KWH </div> 
              <div class="bottom"> Daily Avg </div> 
            </div>
            
          </div>
          <div class="comp1-card-bottom2"> </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"> 
    <div class="content-comp1-card">
      <div class="content-comp1-card-holder">
          <div class="comp1-card-header"> <span class="comp1-card-header-text"> Power Usage Now </span> </div>
          <div class="comp1-card-graph-container"> 
            <div class="comp1-card-graph-container-inner left">1</div>
            <div class="comp1-card-graph-container-inner right">
              <div class="main-value">303 W </div>
              <div class="second-value">27:10:00</div>
            </div> 
          </div>
          <div class="comp1-card-bottom1">  
            <div class="comp1-card-bottom1-inner left"> 
                <div class="top"> 8.4 KWH </div> 
                <div class="bottom"> So Far Today </div> 
            </div>
            <div class="comp1-card-bottom1-inner right">
              <div class="top"> 16.7 KWH </div> 
              <div class="bottom"> Daily Avg </div> 
            </div>
            
          </div>
          <div class="comp1-card-bottom2"> </div>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="content-comp1-card">
      <div class="content-comp1-card-holder">
          <div class="comp1-card-header"> <span class="comp1-card-header-text"> Power Usage Now </span> </div>
          <div class="comp1-card-graph-container"> 
            <div class="comp1-card-graph-container-inner left">1</div>
            <div class="comp1-card-graph-container-inner right">
              <div class="main-value">303 W </div>
              <div class="second-value">27:10:00</div>
            </div> 
          </div>
          <div class="comp1-card-bottom1">  
            <div class="comp1-card-bottom1-inner left"> 
                <div class="top"> 8.4 KWH </div> 
                <div class="bottom"> So Far Today </div> 
            </div>
            <div class="comp1-card-bottom1-inner right">
              <div class="top"> 16.7 KWH </div> 
              <div class="bottom"> Daily Avg </div> 
            </div>
            
          </div>
          <div class="comp1-card-bottom2"> </div>

      </div>
    </div>
  </div>
</div>

<div class="row"> 
  <div class="col-md-4"> <div class="content-comp1-card"> 4</div></div>
  <div class="col-md-4"> <div class="content-comp1-card"> 5</div></div>
  <div class="col-md-4"> <div class="content-comp1-card"> 6</div></div>
</div>
