/* You can add global styles to this file, and also import other style files */
body {
    background: #f1f1f1;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    color: #999999
}

.row {
   margin-bottom: 20px;
}

#icon-container{

    z-index: 1;
    margin-top: 1.6vw;
}

#mainNav{
    z-index: -1;
}

#icon-wrapper{
  padding-left: 20%;
  padding-right: 20%;
  }

#content-wrapper{
     padding-left: 13vw;
    padding-right: 13vw;
  }


.icon {
    height: 5.3vw;
    border-radius: 3px;
    text-align: -webkit-center;
    padding-top: 2vw;
    color: #fff;
}

.content-card{
    
    height: 100%;
    border: 1px Solid #e7e7e7;
    border-radius: 3px;
}


.card [data-background-color="purple"] {
  background: linear-gradient(60deg, #cd5ce0, #8e24aa);
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card [data-background-color="blue"] {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.card [data-background-color="green"] {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.card [data-background-color="orange"] {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.card [data-background-color="red"] {
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}
.card [data-background-color="yellow"] {
  background: linear-gradient(60deg, #f9e219, #FFC107);
  box-shadow: 0 12px 20px -10px rgba(255, 235, 59, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 235, 59, 0.2);
}
.card [data-background-color="black"] {
  background: linear-gradient(60deg, #709dca, #2C3E50);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card [data-background-color] {
  color: #FFFFFF;
}





.navbar-default {
   background: #D1d1d1;
}

.content-dashboard-card{
    width: 100%;
    height: 18vw;
    text-align: center;
    background: #FFF;
    border-radius: 3px;
    border: 1px Solid #e7e7e7;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0);
}

.content-dashboard-card-holder{
    margin: 0vw 1.4vw 0vw 1.4vw;
    height: 100%;
    
}

.dashboard-card-header{
    height: 18%;
    border-bottom: 2px solid #f9f4f4;
    line-height: 3.5vw;
}

.dashboard-card-header-text {
    font-size: 1.4vw;
    height: 100%;
    color: #717171;
    margin-left: -15px;
    text-align: left;
}

.dashboard-card-graph-container{
    height: 46%;
    border-bottom: 2px solid #f9f4f4;
    justify-content: center;
}

.dashboard-card-graph-container-inner{
    justify-content: center;
    width: 50%;
    height: 100%;  
    text-align: left;
}

.dashboard-card-graph-container-inner2 {
    padding: 0.2vw 0vw 0.2vw 0vw;
}

.dashboard-card-mid {
    height: 68%;
    border-bottom: 2px solid #f9f4f4;
    padding-top: 0.3vw;
}

.dashboard-card-bottom1-inner span{
    font-size : 0.8vw;
    color : #999999;
}

.dashboard-card-bottom1-inner{
    justify-content: center;
    width: 50%;
    height: 100%;  
    text-align: left;
    color: #717171;
    font-size: 1.4vw;
    padding-top: 0.5vw;
}

.dashboard-card-bottom1{
    height: 22%;
    border-bottom: 2px solid #f9f4f4;
}

.dashboard-card-bottom2{
    height: 18%;
    text-align: left;
}


.main-value {
    font-weight: 300;
    vertical-align: bottom;
    padding-top: 1.9vw;
    font-size: 2.1em;
    color: #fb8c00;
}

.left{
    float:left;
}

.right {
    float : right;
}

.top{

}

.bottom{
    font-size: 0.8vw;
    color: #999999;

}


.donut-chart {
 width: 150px;

}

.header-icon{
    height: 100%;
    padding: 0px 0px 0px 5px;
    text-align: left;
}

.header-icon-dashboard{
    padding-top: 3px;
}

.fa-size-card{
    font-size: 1.3vw;
    border: 1px Solid rgba(204, 204, 204, 0.49);
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    /* color: #FFF; */
    background-color:rgba(204, 204, 204, 0.49);
    border-radius: 50%;
    
}

.demo-chart {
  height: 9vw;
  width: 9vw;
  padding-top: 10px;
}

.carbon1{
    padding-top: 6px;
}

.carbon2 {
    font-weight: 300;
    vertical-align: bottom;
    font-size: 2.1em;
    color: #fb8c00;
}

.carbon3{

}

.coal-img {
    margin: 10px;    
}

.temp-text{
    text-align: left;
    color: #717171;
    font-size: 1.8em;
}

.weather-icon{
    font-size: 4.3vw;
    color: #fb8c00;
    text-align: left;
    padding-left: 1vw;
}

.weather-text{
        text-align: left;
    padding-left: 2.1vw;
}

li.apppliance-row {
    text-align: left;
}

i.fa.fa-dot-circle-o.red {
    color: red;
}

i.fa.fa-dot-circle-o.green{
    color: green;
}


.panel-header{
    font-size: 1.6vw;
    text-align: left;
    border-bottom: 1px Solid #ccc;
}

.content-comprest-card{
    width: 100%;
    text-align: center;
    background: #FFF;
    border-radius: 3px;
    border: 1px Solid #e7e7e7;
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0);
}

.chart-container{
   

}